@import url('https://fonts.googleapis.com/css2?family=Allura&family=Oswald&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* for mobile deivces */
    -webkit-tap-highlight-color: transparent; /* For Safari */
    appearance: none;
    outline: none;
    box-shadow: none;

}
@media only screen and (max-width: 600px) {
    .todo-app input[type="button"] {
      padding: 12px 30px; /* Adjust the padding for the button on smaller screens */
      font-size: 12px; /* Adjust the font size for the button on smaller screens */
    }
  }
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(125deg,#153677,#4e085f);
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background:#fff;
    margin: 100px auto 20px;
    padding: 40px 30px 50px;
    border-radius: 10px;
}

.todo-app h2{
    color: #012d72;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    padding-left: 20px;
}

.todo-app a{
    color:#053f9c;
    padding-left: 65px;
    margin-bottom: 25px;
    font-family: 'Allura', cursive;
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
    text-decoration: none;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input[type="text"]{
    flex:100%;
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    outline: none;
}
input[type="button"]{
    border: none;
    outline: none;
    padding: 16px 50px;
    background:#ff5945 ;
    border-radius: 30px;
    color:#fff;
    cursor: pointer;
    font-size: 14px;
}

ul li{
    list-style: none;
    user-select: none;
    font-size: 18px;
    padding:12px 8px 12px 50px ;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    top:12px;
    left: 8px;
    background-image: url('unchecked.png');
    height: 28px;
    width: 28px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

ul li.checked{
    color:#555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url('checked.png');  
}

ul li span{
    position: absolute;
    right: 0;
    top:5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

#count{
    padding-left: 15px;
    padding-top: 40px;
    bottom: 10px;
    color: #4e085f;
    font-size: 20px;
    font-family:'Oswald', sans-serif;;
}


.task-count{
    display: flex;
    justify-content: space-between;
}

button{
    border: none;
    background-color: #ff5945;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 15px;
}